<h1>Stupid Coach</h1>

<hr>

<div class="card">
  <h5 class="card-header">You</h5>
  <div class="card-body">
    <p class="card-text"><%= @question %></p>
  </div>
</div>

<hr>

<div class="card">
  <h5 class="card-header">You coach</h5>
  <div class="card-body">
    <p class="card-text"><%= @answer %></p>
    <%= link_to "new question to you coach", questions_path, class: "btn btn-primary" %>
  </div>
</div>
